# Copie este arquivo para .env e preencha os valores
SECRET_KEY=sua-chave-secreta-django-aqui
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000

# Token da API ZapSign
# Obtenha em: https://app.zapsign.com.br/conta/configuracoes/integration?tab=api-zapsign
ZAPSIGN_API_TOKEN=seu-token-zapsign-aqui
